body{
  color: burlywood;
  background-color: antiquewhite;
}


nav h2{
  font-size: xx-large;
  /* text-align: left; */
  display: inline;
}

nav a{
  margin-inline: 50%;
  display: inline-flex;
  color: chocolate;
}